<br><br>
<!-- Call Reservation Section -->
<div id="call-reservation" class="text-center">
  <div class="container">
    <h2>Want to make a reservation by phone? Call <strong>1-887-654-3210</strong></h2>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center">
      <h2>Contact Form</h2>
      <hr>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>

<div id="contact" class="text-center" *ngIf="username === 'owner'">
  <div class="container">
    <div class="section-title text-center">
      <h2>Owner's Contact Form</h2>
      <hr>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" >
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="phone" class="form-control" placeholder="*New phone number" autocomplete="off" formControlName="phone">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="*New E-mail" autocomplete="off" formControlName="email">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea type="text" name="address" class="form-control" placeholder="*New Address" autocomplete="off" formControlName="address"></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Update</button>
      </form>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container text-center">
    <div class="col-md-6">
      <h3>Address</h3>
      <div class="contact-item">
        <p>{{address}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Contact Info</h3>
      <div class="contact-item">
        <p>Phone: {{phone}}</p>
        <p>Email: {{email}}</p>
      </div>
    </div>
  </div>
</div>
