<br><br>
<div class="container">
  <h1 class="page-header">Edit Booking</h1>

<!-- Custom Success/Erro Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Edit Blog Form -->
<form (submit)="updateBlogSubmit()" *ngIf="!loading">
  <!-- Name Field -->
  <div class="form-group">
    <label for="name">Name: </label>
    <!-- Name Input -->
    <input [disabled]="processing" type="text" name="name" placeholder="*Blog Name" class="form-control" [(ngModel)]="blog.name" />
  </div>

  <div class="form-group">
    <label for="phone">Tel: </label>
    <!-- Name Input -->
    <input [disabled]="processing" type="text" name="phone" placeholder="*Blog Phone" class="form-control" [(ngModel)]="blog.phone" />
  </div>

  <div class="form-group">
      <label for="time">Time: </label>

      <select id="time" class="form-control" name="time" [(ngModel)]="blog.time">
        <option value="11" selected>11:00 AM - 12:00AM</option>
        <option value="12">12:00 PM - 1:00 PM</option>
        <option value="1">1:00 PM - 2:00 PM</option>
        <option value="2">2:00 PM - 3:00 PM</option>
        <option value="3">3:00 PM - 4:00 PM</option>
        <option value="4">4:00 PM -- 5:00 PM</option>
        <option value="5">5:00 PM -- 6:00 PM</option>
        <option value="6">6:00 PM -- 7:00 PM</option>
        <option value="7">7:00 PM -- 8:00 PM</option>
        <option value="8">8:00 PM -- 9:00 PM</option>
        <option value="9">9:00 PM -- 10:00 PM</option>
      </select>
    </div>

    <div class="form-group">
     <label for="tablenumber">Table Number: </label><br>
     <!--<input type="text" id="partysize" class="form-control">-->
     <select id="tablenumber"  class="form-control" name="tablenumber" [(ngModel)]="blog.tablenumber">
       <option value="1" selected>Table 1 (size: 2)</option>
       <option value="2">Table 2 (size: 2)</option>
       <option value="3">Table 3 (size: 2)</option>
       <option value="4">Table 4 (size: 4)</option>
       <option value="5">Table 5 (size: 4)</option>
       <option value="6">Table 6 (size: 6)</option>
       <option value="7">Table 7 (size: 6)</option>
       <option value="8">Table 8 (size: 8)</option>
       <option value="9">Table 9 (size: 8)</option>
     </select>
    </div>

  <!-- Body Field -->
  <div class="form-group">
    <label for="body">Words to us: </label>
    <!-- Body Input -->
    <textarea [disabled]="processing" name="body" rows="8" cols="80" [(ngModel)]="blog.body" class="form-control" placeholder="*Blog Body"></textarea>
  </div>

  <!-- Delete Button -->
  <a [routerLink]="['/delete-blog/', blog._id]"><button  [disabled]="processing"  type="button" name="button" class="btn btn-danger">Delete</button></a>
  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
  <!-- Save Changes Button -->
  <button [disabled]="processing" type="submit" name="save" class="btn btn-info">Save Changes</button>

</form>

</div>
