
<div id="top"></div>
<br><br>
<img src='https://i.imgur.com/yvXHybZ.jpg' width="100%">

<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 ">
        <div class="about-img"><img src="https://i.imgur.com/XxI1oov.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Our Restaurant</h2>
          <hr>
          <p>
          As a restaurant owner there are three important parts to my day. Making sure the customers are happy, the chefs are happy and the restaurant looks good.
          It's more than a restaurant, it’s my home and everyone who comes is my guest, So I hope that when you stop by you have a wonderful time.
          </p>
          <h3>Enjoy!</h3>
          <p>Our food is important to us. All meals are prepared fresh, using the best ingredients by exceptional chefs. Want something special, just ask. If it puts a smile on your face and we can make it, we will. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<img src="https://i.imgur.com/f5p0Ady.jpg" alt="Norway" width=100%>
<!-- ============ Footer Section  ============= -->
<footer class="sub_footer">
    <div class="container">
        <div class="col-md-4"><p class="sub-footer-text text-center">&copy; Restaurant 2017, Theme by SHENBO LI</p></div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p>
        </div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Built With Care By Us</p></div>
    </div>
</footer>
