<br><br><br><br>


<!-- Restaurant Menu Section -->
<div id="restaurant-menu">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Breakfast</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Haloumi </div>
            <div class="menu-item-price"> $12 </div>
            <div class="menu-item-description"> Refreshing traditional cucumber and garlic in yoghurt dip. Refreshing traditional cucumber and garlic in yoghurt dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Spinach Pi </div>
            <div class="menu-item-price"> $16.5 </div>
            <div class="menu-item-description"> Pureed eggplant garlic, green pepper and tomato dip.Pureed eggplant garlic, green pepper and tomato dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Tzatski </div>
            <div class="menu-item-price"> $15.5 </div>
            <div class="menu-item-description"> Refreshing traditional cucumber and garlic in yoghurt dip.Refreshing traditional cucumber and garlic in yoghurt dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Aubergine Salad </div>
            <div class="menu-item-price"> $10 </div>
            <div class="menu-item-description"> Pureed eggplant garlic, green pepper and tomato dip.Pureed eggplant garlic, green pepper and tomato dip. </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Lunch</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Olive Special </div>
            <div class="menu-item-price"> $25 </div>
            <div class="menu-item-description"> Refreshing traditional cucumber and garlic in yoghurt dip.Refreshing traditional cucumber and garlic in yoghurt dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Greek Salad </div>
            <div class="menu-item-price"> $20 </div>
            <div class="menu-item-description"> Pureed eggplant garlic, green pepper and tomato dip.Pureed eggplant garlic, green pepper and tomato dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Gusto Salad </div>
            <div class="menu-item-price"> $18.5 </div>
            <div class="menu-item-description"> Pureed eggplant garlic, green pepper and tomato dip.Pureed eggplant garlic, green pepper and tomato dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Cornish Mackerel </div>
            <div class="menu-item-price"> $30 </div>
            <div class="menu-item-description"> Refreshing traditional cucumber and garlic in yoghurt dip.Refreshing traditional cucumber and garlic in yoghurt dip. </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="section-title text-center center">
      <div class="overlay">
        <br><br>
        <h2>Menu</h2>
        <p>Our food is important to us. </p>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Dinner</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Delicious Dish </div>
            <div class="menu-item-price"> $25 </div>
            <div class="menu-item-description"> Each is handmade at the crack of dawn, using only the simplest of ingredients and flavors. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Roast Lamb </div>
            <div class="menu-item-price"> $35 </div>
            <div class="menu-item-description"> Pureed eggplant garlic, green pepper and tomato dip.Pureed eggplant garlic, green pepper and tomato dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Fried Chicken </div>
            <div class="menu-item-price"> $16.5 </div>
            <div class="menu-item-description"> Pureed eggplant garlic, green pepper and tomato dip.Pureed eggplant garlic, green pepper and tomato dip. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Pastitsio </div>
            <div class="menu-item-price"> $19 </div>
            <div class="menu-item-description"> Pureed eggplant garlic, green pepper and tomato dip.Pureed eggplant garlic, green pepper and tomato dip. </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Drinks</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Coffee </div>
            <div class="menu-item-price"> $18.5 </div>
            <div class="menu-item-description"> Good coffee is like friendship: rich, and warm and strong. Better beans. Better coffee. </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Beer </div>
            <div class="menu-item-price"> $10 </div>
            <div class="menu-item-description"> It's all about the beer. Lager Beer at its Best. How refreshing! Nothing but the Heineken!</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Cocktails </div>
            <div class="menu-item-price"> $20 </div>
            <div class="menu-item-description"> Now is the time for drinking, now the time to beat the earth with unfettered foot.  </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Wine </div>
            <div class="menu-item-price"> $36 </div>
            <div class="menu-item-description"> The talking, eating,drinking, laughing, singing, sharing seafood wine. Wine. What are you saving it for? </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
